* { box-sizing: border-box;}

.container {
    margin: 0 auto;
    width: 80%;
}

.header h1 {
text-align: center;
}

.header h1,
.header a {
    display: block;
}

.back_button {
   float: left;
}

.column {
    display: inline-block;
    float: left;
    width: 20%;
    margin-top: 2em;
}

.main-text {
    padding-top: 60px;
    clear: both;
}

.intro {
    margin-left: 16em;
}

.skill {
    margin-left: 1em;
    background-color:
maroon;
    padding: 0 2em;
    color: white;
}

/* .skill h3 {
    color: white;
}

#skill-list {
    color: white;
} */

